* text=auto
*.asset eol=lf
*.csproj merge=union
*.glb filter=lfs diff=lfs merge=lfs -text
Wave/Assets/Real[[:space:]]Materials/Demo/Textures/RM[[:space:]]skybox[[:space:]]canary[[:space:]]wharf[[:space:]]8k[[:space:]]HDRi.exr filter=lfs diff=lfs merge=lfs -text
Wave/Assets/Real[[:space:]]Materials/Demo/Textures/RM[[:space:]]skybox[[:space:]]phalzer[[:space:]]forest[[:space:]]01[[:space:]]8k[[:space:]]HDRi.hdr filter=lfs diff=lfs merge=lfs -text
Wave/Assets/Real[[:space:]]Materials/Demo/Textures/RM[[:space:]]skybox[[:space:]]semi-overcast[[:space:]]8k[[:space:]]HDRi.HDR filter=lfs diff=lfs merge=lfs -text
